/* sidbar */
.container {
    display: flex;
    /* flex: 1; */

}

/* mmm */
.yasie-sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    padding-top: 5px;
    /* z-index: 200; */
}

.sidebar-link {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
}

.sidebar-link i {
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
}

/* mmm */

.sidebar {

    background-color: white;
    width: 250px;
    padding: 0px 19px;
    height: 88.5vh;
    position: fixed;
    overflow-y: auto;
    scrollbar-width: none;
}

.sidebar:hover {
    scrollbar-width: thin;
}

.ddd {
    /* padding: 17px; */
    display: flex;
    flex-direction: column;
    gap: 1px;
    cursor: pointer;

}

.home {
    display: flex;
    gap: 19px;
    padding: 10px;
}

.home:hover {
    background: rgb(240, 240, 240);
    border-radius: 10px;
}

.home span {
    font-size: 15px;
    color: black;
}

.line {
    height: 1px;
    background: rgb(225, 225, 225);
    margin-top: 9px;
}



.channels h4 {
    padding: 12px;
    font-size: 15px;
    cursor: pointer;

}

.channels h4:hover {
    background: rgb(240, 240, 240);
    border-radius: 10px;

}




.wrap {
    display: flex;
    align-items: center;
    /* width: 150px; */
    gap: 20px;
    padding: 10px;
}

.wrap:hover {
    background: rgb(240, 240, 240);
    border-radius: 10px;
}

.img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.box {
    display: flex;
    align-items: center;
    cursor: pointer;

}

.contanier {
    display: flex;
    flex-direction: column;
    cursor: pointer;

}

.text-container {
    display: flex;
    justify-content: space-between;
    gap: 29px;
    align-items: center;
}

.text {
    display: flex;
    gap: 12px;
    cursor: pointer;
    cursor: pointer;


}

.text span {
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 105px;
    cursor: pointer;

}

.red {
    color: red;
}

.footer {
    /* white-space: wrap; */
    margin-top: 10px;
    width: 178px;
    /* word-spacing: 6px; */
    /* line-height: 22px; */
    color: rgb(81 68 68);


    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    cursor: pointer;
}

.CopyRight {
    font-size: 13px;
    margin-top: 10px;
    color: #b3a8a8;
}