* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* menu */
.menu-container {
  flex: 1;
  padding-left: 259px;
}

.menu {
  background: white;
  height: 50px;
  position: sticky;
  top: 55px;
  padding: 10px;
  white-space: nowrap;

  z-index: 100;
}

.menu ul {
  display: flex;
  gap: 15px;
}

.menu ul li {
  list-style: none;
  background: rgb(240, 240, 240);
  padding: 6px 9px;
  border-radius: 7px;
  cursor: pointer;
}

/* vide */
.videos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 40px;
}
.div {
  padding: 9px;
  transition: all 1s;
}

.div:hover {
  background-color: rgb(240, 240, 240);

  border-radius: 12px;
}

.aaaaaaa {
  cursor: pointer;
}

.thumbnail {
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
}

.main-title {
  margin-top: -10px;
}

.title span {
  background: rgb(77, 75, 75);
  border-radius: 50%;
  color: white;
  padding: 2px;
  font-size: 5px;
}

.title {
  margin-bottom: 6px;
  font-size: 13px;
  color: gray;
}

.vide {
  margin-top: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 12px;
}

.details {
  display: flex;
  gap: 10px;
}

.vido-info {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.live-profile {
  border: red 1px solid;
  padding: 3px;
}

.channel {
  position: relative;
}

.live {
  position: absolute;
  background: red;
  color: white;
  top: 33px;
  left: 7px;
  font-size: 10px;
  padding: 2px;
  border-radius: 12px;
  cursor: pointer;
}

.thumbnail-row {
  margin-bottom: 12px;
  position: relative;
}

.vide-time {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* banner */
.bannerSection {
  flex: 1;
  padding: 15px;
  padding-left: 265px;
}

.banner-picture img {
  width: 100%;
  border-radius: 30px;
}

.details1 {
  display: flex;
  gap: 16px;
}

.profile-picture1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
}

.vido-info1 {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.vide1 {
  margin-top: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 34px;
  color: black;
  font-weight: 700;
}

.subscribers {
  color: gray;
  font-size: 13px;
  font-weight: 500;
}

.main-title1 {
  margin-top: -10px;
}

.title1 {
  margin-bottom: 6px;
  font-size: 13px;
}

.link {
  color: #5c5ce5;
  font-size: 13px;
}

.nmnn {
  margin-top: -7px;
}

.div1 {
  padding: 12px;
}

.Subscriibed {
  background: rgb(240, 240, 240);
  width: 160px;
  padding: 9px 13px;
  border-radius: 19px;
}

.Subscriibed .ball {
  font-size: 17px;
}

.ul {
  display: flex;
}

.ul li {
  list-style: none;
  padding: 14px;
  color: rgb(100 71 71);
}

.ul li a {
  text-decoration: none;
}

.ul li a:hover {
  text-decoration: underline;
}

.line1 {
  height: 1px;
  background: rgb(225, 225, 225);
  margin-top: -1px;
}

.h4 {
  padding: 12px;
  font-size: 21px;
}

/* mmm */
.grid {
  row-gap: 40px;
  padding: 11px;
  gap: 8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.thumbnail-row1 {
  position: relative;
}

.vide-tim1 {
  position: absolute;
  bottom: 12px;
  right: 11px;
  background: black;
  color: white;
  padding: 4px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.thumbnail1 {
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
}

.vide-title {
  line-height: 23px;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: normal;
  width: 332px;
  color: black;
}

.vide-subscribers {
  margin-top: 12px;
  font-size: 13px;
  color: gray;
}

@media ((min-width: 0px) and (max-width: 200px)) {
  .yasie-sidebar {
    display: none;
  }

  .sidebar {
    display: none;
  }
}

@media ((min-width: 200px) and (max-width:800px)) {
  .yasie-sidebar {
    display: block;
  }

  .sidebar {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 500px) {
  .videos {
    grid-template-columns: 1fr;
  }
  .menu-container {
    padding-left: 0;
  }

  .bannerSection {
    padding-left: 2px;
  }

  .yasie-sidebar {
    display: none;
  }
}

@media (min-width: 500px) and (max-width: 1000px) {
  .videos {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 800px) {
  .yasie-sidebar {
    display: none;
  }

  .sidebar {
    display: block;
  }
}
